BOT_1_TOKEN=PASTE_YOUR_FIRST_BOT_TOKEN_HERE
BOT_1_CHAT_ID=PASTE_YOUR_FIRST_CHAT_ID_HERE
BOT_1_FOLDERS=D:\My Music
BOT_1_RECURSIVE=false
BOT_1_EXCLUDE=

BOT_2_TOKEN=PASTE_YOUR_SECOND_BOT_TOKEN_HERE
BOT_2_CHAT_ID=PASTE_YOUR_SECOND_CHAT_ID_HERE
BOT_2_FOLDERS=D:\Path\To\Second\Folder
BOT_2_RECURSIVE=false
BOT_2_EXCLUDE=